.navbar, .footer {
  display: flex;
  justify-content: center;
  background-color: rgb(88, 144, 146);
  height: 100%;
}
 
h1 {
  display: block;
}

.news-list {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(204, 223, 221);
}

.displayOff {
  display: none ;
}

span {
  padding: 0 2rem 0 2rem;
}