.navbar, .footer {
  display: flex;
  justify-content: center;
  background-color: rgb(88, 144, 146);
  height: 100%;
}


.news-list {
  display: flex;
  justify-content: flex-start;
}

.list-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(204, 223, 221);
}

.displayOff {
  display: none ;
}

.displayOn {
  display: block;
}

span {
  padding: 0 2rem 0 2rem;
}

li {
  padding: .5rem 0 .5rem 0;
}

.errMessages {
  text-align: center;
}
